# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\WORDPRESS_HTML\XAMPP_Install\htdocs\wordpress_en\wp-content\themes\aquila\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
